@import "src/app/styles/base/_variables.scss";

.form-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 2rem;
    position: relative;
}

:host ::ng-deep h1 {
    font-family: $font-family-roboto-light;
    font-size: 2rem;
    font-weight: $dialog-header-title-font-weight;
    margin: 2rem 0;
}

:host ::ng-deep h1:first-child {
    margin-top: 0;
}

.form-wrapper > * {
    height: 100%;
}
