@import "src/app/styles/base/variables";

.dashlet-meldung {
    display: table;
    height: 100%;
    width: 100%;
}

.meldung-container {
    display: table-cell;
    padding: $data-spacing;
    text-align: center;
    vertical-align: middle;
}

.error-icon {
    color: $error-icon-color;
    font-size: $dashlet-error-icon-size;
    height: $dashlet-error-icon-size;
    margin: $dashlet-error-icon-spacing;
    vertical-align: middle;
    width: $dashlet-error-icon-size;
}

.dropdown-icon {
    vertical-align: middle;
}

.data-header {
    font-family: $font-family-roboto-medium;
}

.data-text {
    font-family: $font-family-roboto-light;
}
