<mat-form-field [ngClass]="{ invalid: hasError }">
    @if (prefixIcon) {
        <mat-icon class="focus360-input-prefix-icon" matPrefix
            >{{ prefixIcon }}
        </mat-icon>
    }
    <input
        (focus)="focusIn(value)"
        (focusout)="focusOut(value)"
        (input)="onUserChange($event)"
        [(ngModel)]="value"
        [disabled]="disabled"
        [name]="name"
        [placeholder]="label"
        autocomplete="off"
        class="focus360-input-field"
        matInput
        type="{{ type || 'text' }}"
    />
    @if (suffixIcon) {
        <mat-icon class="focus360-input-suffix-icon" matSuffix
            >{{ suffixIcon }}
        </mat-icon>
    }
</mat-form-field>
<app-validation [errors]="errors" [hasError]="hasError"></app-validation>
