@import "../../../../styles/base/variables";

.focus360-header-user-menu-container {
    align-items: center;
    display: flex;
    height: 100%;
}

.focus360-header-user-menu-help {
    flex: 0 0 min-content;
    padding-left: $header-user-menu-spacing;
}

.focus360-header-user-menu {
    flex: 0 0 min-content;
    padding-left: $header-user-menu-spacing;
}

.focus360-header-user-menu-name {
    color: $header-user-menu-name-font-color;
    flex: auto;
    font-size: $header-user-menu-font-size;
    padding-right: $header-user-menu-spacing;
    text-align: right;
    white-space: nowrap;

    span {
        background: rgba($primary-color-darker-2, 0.8);
        border-radius: 1rem;
        display: inline-block;
        line-height: 1rem;
        overflow: hidden;
        padding: 0.5rem 1rem;
        text-overflow: ellipsis;
    }
}

.focus360-header-user-menu-icon {
    color: $header-user-menu-icon-color;
    cursor: pointer;
    font-size: $header-user-menu-icon-size;
    height: $header-user-menu-icon-size;
    width: $header-user-menu-icon-size;
}

.button {
    margin-right: 1rem;
}
