<f360-dashlet id="kundenkontakte">
    <f360-dashlet-header
        (actionIconClicked)="openNewKontakt(true)"
        [actionIcon]="
            userService.userInfo?.containsRolle(rollen.ROLLE_KONT_VERW)
                ? 'add_circle'
                : ''
        "
        actionIconTooltipText="Kundenkontakt erfassen"
        dashletIcon="folder_shared"
        >Kundenkontakte
    </f360-dashlet-header>
    <f360-dashlet-content>
        <div class="content">
            @if (kundenkontakte != null || error != null) {
                @if (kundenkontakte && kundenkontakte.length > 0) {
                    <div class="table__wrapper">
                        <table
                            [dataSource]="dataSource"
                            class="table"
                            mat-table
                            matSort
                        >
                            <ng-container matColumnDef="zeitpunktDatumString">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    class="table__header-cell--datum"
                                    mat-sort-header
                                    sortActionDescription="Sort by zeitpunktDatumString"
                                    ><span>Datum</span>
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell--datum"
                                >
                                    <span>{{
                                        element.zeitpunktDatumString
                                    }}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="zeitpunktStartString">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    class="table__header-cell--beginn"
                                    mat-sort-header
                                >
                                    <span>Beginn</span>
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell--beginn"
                                >
                                    <span
                                        >{{ element.zeitpunktStartString }}
                                    </span></mat-cell
                                >
                            </ng-container>
                            <ng-container matColumnDef="zeitpunktEndeString">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    class="table__header-cell--ende"
                                    mat-sort-header
                                >
                                    <span>Ende</span>
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell--ende"
                                >
                                    <span
                                        >{{ element.zeitpunktEndeString }}
                                    </span></mat-cell
                                >
                            </ng-container>
                            <ng-container matColumnDef="thema">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Thema
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span>{{ element.thema }} </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="kontaktart">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Kontaktart
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span
                                        >{{ element.kontaktart }}
                                    </span></mat-cell
                                >
                            </ng-container>
                            <ng-container matColumnDef="abschlussart">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Abschlussart
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span>{{
                                        element.abschlussart
                                    }}</span></mat-cell
                                >
                            </ng-container>
                            <ng-container matColumnDef="scBezeichnung">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Servicestelle
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span>{{
                                        element.scBezeichnung
                                    }}</span></mat-cell
                                >
                            </ng-container>
                            <mat-header-row
                                *matHeaderRowDef="columnNames"
                                class=""
                            ></mat-header-row>
                            <mat-row
                                (click)="openExistingKontakt(row.id)"
                                *matRowDef="let row; columns: columnNames"
                                class="table__row"
                                mat-row
                            ></mat-row>
                        </table>
                    </div>
                    <!-- Tabellen Footer -->
                    <div class="footer">
                        <mat-form-field
                            appearance="outline"
                            class="form-field dense-elements"
                            subscriptSizing="dynamic"
                        >
                            <mat-label>Filter</mat-label>
                            <input
                                (keyup)="applyFilter($event)"
                                matInput
                                class="mat-form-field__input--filter"
                            />
                        </mat-form-field>
                        <mat-paginator
                            class="paginator"
                            #kundenkontaktPaginator
                            hidePageSize
                            pageSize="6"
                        ></mat-paginator>
                    </div>
                } @else {
                    @if (error) {
                        <f360-dashlet-error
                            [error]="error"
                            class="dashletMeldung"
                        ></f360-dashlet-error>
                    } @else {
                        <div class="dashletMeldung">
                            <span class="data-header info"
                                ><i class="material-icons">not_interested</i>
                                Keine Kundenkontakte vorhanden.</span
                            >
                        </div>
                    }
                }
            } @else {
                <f360-loading-indicator></f360-loading-indicator>
            }
        </div>
    </f360-dashlet-content>
</f360-dashlet>
