<div class="notiz-form-wrapper">
    <h1>Wichtige Info erfassen</h1>
    <div class="content-body">
        <f360-textarea
            (onFocusOut)="updateText($event)"
            [customId]="'notiz-text-area'"
            [text]="notizForm?.notizText"
            class="textarea-input"
            label="Wichtige Info *"
            name="wichtigeInfoInput"
            tooltip="Wichtige Info"
        ></f360-textarea>
    </div>
    <div class="control-section">
        <div class="button-group">
            <button (click)="closeForm()" mat-button>Abbrechen</button>
            <button
                (click)="saveNotiz()"
                class="erfassen-button"
                mat-raised-button
            >
                Speichern
            </button>
        </div>
    </div>
</div>
