<div class="dialog-wrapper">
    <!-- HEADER -->
    <div class="header-wrapper">
        <h2>{{ this.data?.title ? this.data.title : "Aktion bestätigen" }}</h2>
    </div>
    <!-- DESCRIPTION -->
    <div class="description-wrapper">
        <p>
            {{
                this.data?.descr
                    ? this.data.descr
                    : "Bestätigen Sie die von Ihnen durchgeführte Aktion?"
            }}
        </p>
    </div>
    <!-- ACTION GROUP -->
    <div class="action-group">
        <f360-button
            (onClick)="cancelClicked()"
            label="{{ this.data?.cancel ? this.data.cancel : 'Abbrechen' }}"
        ></f360-button>
        <f360-button
            (onClick)="confirmClicked()"
            label="{{ this.data?.confirm ? this.data.confirm : 'Bestätigen' }}"
        ></f360-button>
    </div>
</div>
