<f360-dashlet id="ecard">
    <f360-dashlet-header
        [launchTooltipText]="'ECAdmin öffnen'"
        [launch]="dashboardUrl"
        dashletIcon="credit_card"
        >ECard
    </f360-dashlet-header>
    <f360-dashlet-content class="focus360-dashlet-content--without-footer">
        @if (ecard != null || error != null) {
            @if (!error && !noData) {
                <f360-dashlet-content-data>
                    <div class="data-block">
                        <a class="data-header">Ausstellungsdatum</a><br />
                        <a class="data-text">{{
                            ecard?.ausstellungsDatum | date: "dd.MM.yyyy"
                        }}</a>
                    </div>
                    <div class="data-block">
                        <a class="data-header">Ablaufdatum</a><br />
                        <a class="data-text">{{
                            ecard?.endeDatum | date: "dd.MM.yyyy"
                        }}</a>
                    </div>
                    <div class="data-block">
                        <a class="data-header">Laufnummer</a><br />
                        <a class="data-text">{{
                            ecard?.laufNummer?.toString().substr(10)
                        }}</a>
                    </div>
                    <div class="data-block">
                        <a class="data-header">Letzte Konsultation</a><br />
                        @if (ecard?.letzteKonsultationDatum) {
                            <a class="data-text">{{
                                ecard.letzteKonsultationDatum
                                    | date: "dd.MM.yyyy"
                            }}</a>
                        }
                        @if (ecard?.letzteKonsultationDatum == null) {
                            <a class="data-text">Keine Konsultation</a>
                        }
                    </div>
                </f360-dashlet-content-data>
            }
            @if (noData && !error) {
                <div id="empty" class="dashletMeldung">
                    <span class="data-header info"
                        ><i class="material-icons">not_interested</i> Keine
                        eCard Daten vorhanden.</span
                    >
                </div>
            }
            <f360-dashlet-error [error]="error"></f360-dashlet-error>
        } @else {
            <f360-loading-indicator></f360-loading-indicator>
        }
    </f360-dashlet-content>
</f360-dashlet>
