<?xml version="1.0"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>FOCUS 360</display-name>
  <!-- Angular Filter -->
  <filter>
	<filter-name>AngularFilter</filter-name>
	<filter-class>at.sozvers.noegkk.focus.app.AngularFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>AngularFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <security-constraint>
	<display-name></display-name>
	<web-resource-collection>
	  <web-resource-name>Secured search</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/*</url-pattern>
	  <url-pattern>/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	  <role-name>FOCUS360.ZPVLESEN</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>SS5-Backend</display-name>
	<web-resource-collection>
	  <web-resource-name>SS5-Backend</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/ecard/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.SS5LESEN</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>KVA-Backend</display-name>
	<web-resource-collection>
	  <web-resource-name>KVA-Backend</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/coinsurance/*</url-pattern>
	  <url-pattern>/api/rest/gebuehrenbefreiung/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.KVALESEN</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>ZVD-Backend</display-name>
	<web-resource-collection>
	  <web-resource-name>ZVD-Backend</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/versicherungszeit/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.ZVDLESEN</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>ZPV-Backend</display-name>
	<web-resource-collection>
	  <web-resource-name>ZPV-Backend</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/person/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.ZPVLESEN</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>LGKK-Backend</display-name>
	<web-resource-collection>
	  <web-resource-name>Lgkk-Backend</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/leistungen/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.LGKKLESE</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>Notiz-Backend VERW</display-name>
	<web-resource-collection>
	  <web-resource-name>Notiz-Backend VERW</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/notiz/*</url-pattern>
	  <http-method>POST</http-method>
	  <http-method>PUT</http-method>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.NOTIVERW</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>Notiz-Backend LESE</display-name>
	<web-resource-collection>
	  <web-resource-name>Notiz-Backend LESE</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/notiz/*</url-pattern>
	  <http-method>GET</http-method>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.NOTIVERW</role-name>
	  <role-name>FOCUS360.NOTILESE</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>Beschwerde-Backend VERW</display-name>
	<web-resource-collection>
	  <web-resource-name>Beschwerde-Backend VERW</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/complaint/*</url-pattern>
	  <http-method>POST</http-method>
	  <http-method>PUT</http-method>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.BESWVERW</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>Beschwerde-Backend LESE</display-name>
	<web-resource-collection>
	  <web-resource-name>Beschwerde-Backend LESE</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/complaint/*</url-pattern>
	  <http-method>GET</http-method>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.BESWVERW</role-name>
	  <role-name>FOCUS360.BESWLESE</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>Kontakt-Backend VERW</display-name>
	<web-resource-collection>
	  <web-resource-name>Kontakt-Backend VERW</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/contact/*</url-pattern>
	  <http-method>POST</http-method>
	  <http-method>PUT</http-method>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.KONTVERW</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>Kontakt-Backend LESE</display-name>
	<web-resource-collection>
	  <web-resource-name>Kontakt-Backend LESE</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/contact/*</url-pattern>
	  <http-method>GET</http-method>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.KONTVERW</role-name>
	  <role-name>FOCUS360.KONTLESE</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	</auth-constraint>
  </security-constraint>
  <security-constraint>
	<display-name>DSGVO-Backend LESE</display-name>
	<web-resource-collection>
	  <web-resource-name>DSGVO-Backend LESE</web-resource-name>
	  <url-pattern>/</url-pattern>
	  <url-pattern>*.html</url-pattern>
	  <url-pattern>/api/rest/dsgvo/*</url-pattern>
	  <http-method>GET</http-method>
	</web-resource-collection>
	<auth-constraint>
	  <role-name>FOCUS360.DSGVOER</role-name>
	  <role-name>FOCUS360.ADMIVERW</role-name>
	  <role-name>FOCUS360.DSGVOKU</role-name>
	</auth-constraint>
  </security-constraint>
  <!-- Berechtigungsrollen -->
  <security-role>
	<role-name>FOCUS360.ADMIVERW</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.ZPVLESEN</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.SS5LESEN</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.ZVDLESEN</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.KVALESEN</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.LGKKLESE</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.KONTLESE</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.KONTVERW</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.BESWLESE</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.BESWVERW</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.NOTILESE</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.NOTIVERW</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.DSGVOER</role-name>
  </security-role>
  <security-role>
	<role-name>FOCUS360.DSGVOKU</role-name>
  </security-role>
  <session-config>
	<session-timeout>660</session-timeout>
  </session-config>
  <!-- JAX-RS Servlet -->
  <filter>
	<filter-name>Resteasy</filter-name>
	<filter-class>
	  org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
	</filter-class>
	<init-param>
	  <param-name>jakarta.ws.rs.Application</param-name>
	  <param-value>at.sozvers.noegkk.focus.rest.FocusRestApplication</param-value>
	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>Resteasy</filter-name>
	<url-pattern>/api/rest/*</url-pattern>
  </filter-mapping>
</web-app>
