@import "src/app/styles/base/_layout.scss";
@import "src/app/styles/vendor/icons/_material_icons.scss";
//@import 'src/app/modules/shared/components/input/input.component.scss';

:host ::ng-deep .focus360-input-suffix-icon {
    color: $search-field-icon-color !important;
    position: relative;
    top: 0 !important;
}

#fast-search-input {
    width: 52em !important;
}

.quick-search-column {
    display: inline-block;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 33%;
}

.content-body {
    display: inline-block;
    font-family: $primary-font-family;
    height: 150px;
    width: 100%;
}

mat-icon {
    color: $primary-color;
    margin-right: 0.5rem;
    transform: rotate(90deg);
    vertical-align: middle;
}

.control-section {
    border-top: 1px solid $primary-border-color;
    bottom: 0;
    display: block;
    margin: 2rem -2rem 0;

    padding: 0 2rem 0;
    position: absolute;

    width: 100%;
}

.button-group {
    padding-top: 1rem;
}

.erfassen-button {
    background-color: $primary-color;
    color: $secondary-text-color;
    float: right;
}

.beschwerde-form-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.first-select-row,
.second-select-row,
.text-area-row,
.fachbereich-detail-row,
.row-quick-search,
.fachbereich-detail-row,
.grund-section,
.freitext-sonstiger-grund {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.first-select-row > *,
.second-select-row > *,
.fachbereich-detail-row > * {
    width: 30%;
}

.second-select-row > *:first-child {
    width: 50%;
}

.text-area-row > * {
    width: 47.5%;
}

.grund-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.grund-checkbox {
    width: 50%;
}

:host ::ng-deep f360-loading-indicator .spinner-wrapper {
    height: 75% !important;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-button-group {
    display: flex;
    flex-direction: row;
}

.header-button-group > * {
    margin-left: 5px;
}

.data-block {
    display: flex;
    flex-direction: column;
}

.data-text {
    flex-wrap: wrap;
}

.data-header {
    margin-bottom: 0.5rem;
}

.span-like-input {
    white-space: pre;
}

.stay-safe-from-footer {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding-right: 1rem;
}

.text-area {
    margin: 4px;
    width: 100%;
}
