@import "../../../../../../styles/base/variables";

#geldAdressenTable {
    width: 100%;
}

#geldAdressenTable th,
td {
    font-weight: normal;
    padding: 0;
    text-align: left;
}

.dg-row {
    display: flex;
}

.dg-column {
    flex: 50%;
}
