<f360-dashlet id="dg-stammdaten">
    <f360-dashlet-header
        [launchTooltipText]="'ZPV-Versichertenübersicht öffnen'"
        [launch]="dashboardUrl"
        dashletIcon="account_box"
        >Stammdaten
    </f360-dashlet-header>
    <f360-dashlet-content class="focus360-dashlet-content--without-footer">
        @if (stammdaten != null) {
            <f360-dashlet-content-data>
                <div class="dg-row">
                    <div class="dg-column">
                        @if (stammdaten?.adresse) {
                            <div class="data-block">
                                <a class="data-header">Adresse</a><br />
                                @if (
                                    stammdaten?.adresse?.anschrift ||
                                    stammdaten?.adresse?.plz ||
                                    stammdaten?.adresse?.ort
                                ) {
                                    <a class="data-text">{{
                                        stammdaten?.adresse.anschrift
                                    }}</a
                                    ><br /><a class="data-text"
                                        >{{ stammdaten?.adresse.plz
                                        }}{{ stammdaten?.adresse.ort }}</a
                                    >
                                } @else {
                                    <i class="material-icons leistung-icon"
                                        >not_interested</i
                                    >
                                }
                            </div>
                        }
                        <div class="data-block">
                            <a class="data-header">Telefon</a><br />
                            @if (stammdaten?.telefonNummer) {
                                <a class="data-text">{{
                                    stammdaten.telefonNummer
                                }}</a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div class="data-block">
                            <a class="data-header">E-Mail</a><br />
                            @if (stammdaten?.mailAdresse) {
                                <a class="data-text">{{
                                    stammdaten.mailAdresse
                                }}</a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <table id="geldAdressenTable" class="data-block">
                            <caption></caption>
                            <tr class="data-header">
                                <th id="iban">IBAN</th>
                                <th id="bic">BIC</th>
                            </tr>
                            @if (stammdaten?.geldAdressen?.length > 0) {
                                @for (
                                    geldAdresse of stammdaten?.geldAdressen;
                                    track geldAdresse
                                ) {
                                    <tr class="data-text">
                                        <td
                                            [ngClass]="{
                                                'data-header':
                                                    geldAdresse.verwendungsartKurz ==
                                                    'WEITE',
                                            }"
                                        >
                                            {{ geldAdresse.iban }}
                                        </td>
                                        <td
                                            [ngClass]="{
                                                'data-header':
                                                    geldAdresse.verwendungsartKurz ==
                                                    'WEITE',
                                            }"
                                        >
                                            {{ geldAdresse.bic }}
                                        </td>
                                    </tr>
                                }
                            } @else {
                                <tr class="data-text">
                                    <td>
                                        <i class="material-icons leistung-icon"
                                            >not_interested</i
                                        >
                                    </td>
                                    <td>
                                        <i class="material-icons leistung-icon"
                                            >not_interested</i
                                        >
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="dg-column">
                        <div class="data-block">
                            <a class="data-header">Firmenbuchnummer</a><br />
                            @if (stammdaten?.firmenbuchNr) {
                                <a class="data-text">{{
                                    stammdaten.firmenbuchNr.fs
                                }}</a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div class="data-block">
                            <a class="data-header"
                                >Kennziffer des Unternehmensregisters</a
                            ><br />
                            @if (stammdaten?.kur) {
                                <a class="data-text">{{ stammdaten.kur.fs }}</a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div class="data-block">
                            <a class="data-header">Umsatzsteueridentifikation</a
                            ><br />
                            @if (stammdaten?.uid) {
                                <a class="data-text">{{ stammdaten.uid.fs }}</a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div class="dg-row">
                            <div class="dg-column">
                                <div class="data-block">
                                    <a class="data-header"
                                        >SVT-Beitragskontonr.</a
                                    ><br />
                                    @if (stammdaten?.svtBeitragsKontoNr) {
                                        <a class="data-text">{{
                                            stammdaten?.svtBeitragsKontoNr
                                        }}</a>
                                    } @else {
                                        <i class="material-icons leistung-icon"
                                            >not_interested</i
                                        >
                                    }
                                </div>
                            </div>
                            <div class="dg-column">
                                <div class="data-block">
                                    <a class="data-header">Zuordnung</a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </f360-dashlet-content-data>
        } @else {
            <f360-loading-indicator></f360-loading-indicator>
        }
    </f360-dashlet-content> </f360-dashlet
><!-- TEMPLATE::NOT_FOUND -->
