@import "../../../../styles/base/variables";

.focus360-dashlet-footer-container {
    background-color: $dashlet-footer-background-color;
    border-bottom-left-radius: $border-radius-size;
    border-bottom-right-radius: $border-radius-size;
    height: $dashlet-footer-height;
    margin: 0;
    padding: 9px 20px;
}

:host ::ng-deep .focus360-fab-button {
    height: $dashlet-footer-fab-button-size;
    width: $dashlet-footer-fab-button-size;
}

:host ::ng-deep .focus360-fab-button.mat-mdc-fab.mat-accent {
    background-color: $dashlet-footer-button-background-color;
    color: $dashlet-footer-button-icon-color;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
:host ::ng-deep .focus360-fab-button .mat-button-wrapper {
    padding: 0;
}
