<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- 	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender"> -->
  <!-- 		<param name="File" value="av-persintence-tests.log" /> -->
  <!-- 		<param name="DatePattern" value="'.'yyyy-MM-dd" /> -->
  <!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
  <!-- 			<param name="ConversionPattern" value="%d [%t] %-5p %c %M - %m%n" /> -->
  <!-- 		</layout> -->
  <!-- 	</appender> -->
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
	<layout class="org.apache.log4j.PatternLayout">
	  <!-- 			<param name="ConversionPattern" value="%d [%t] %-5p %c %M - %m%n" /> -->
	  <!-- JG: Untenstehendes ConversionPattern einkommentieren wenn die MDC-Werte zur Entwicklung ausgegeben werden sollen (ist auskommentiert da dies sonst bei jeder Log-Zeile hinzugefügt werden würde) -->
	  <!-- 			 <param name="ConversionPattern" value="%d [%t] %-5p %c %M - %m BearbGrund: %X{BearbeitungsGrund} MandantID: %X{MandantID} ApplikationsID: %X{ApplikationsID} OrgeinheitID: %X{OrgeinheitID} Systemmodus: %X{Systemmodus} TraegerID: %X{TraegerID} TransaktionsID: %X{TransaktionsID} Verarbeitungsmodus: %X{Verarbeitungsmodus} BearbeiterID: %X{BearbeiterID}%n" /> -->
	</layout>
  </appender>
  <category name="org.hibernate">
	<priority value="INFO" />
  </category>
  <category name="oracle">
	<priority value="WARN" />
  </category>
  <category name="com.oracle">
	<priority value="WARN" />
  </category>
  <category name="at.sozvers.stpmvb">
	<priority value="DEBUG" />
  </category>
  <root>
	<priority value="INFO" />
	<!-- 		<appender-ref ref="LOGFILE" /> -->
	<appender-ref ref="stdout" />
  </root>
</log4j:configuration>