@import "../../../../../styles/base/variables";

:host {
    border-radius: $sidebar-tab-border-radius 0 0 $sidebar-tab-border-radius;
    box-shadow: $sidebar-tab-box-shadow;
    display: block;
    margin-bottom: $sidebar-tab-spacing;
}

.tab-card {
    background-color: $dashlet-background-color;
    border-radius: $sidebar-tab-border-radius 0 0 $sidebar-tab-border-radius;
    color: rgba($primary-text-color, 0.66);
    cursor: pointer;
    font-size: $sidebar-tab-card-font-size;
    padding: 15px 0;
    position: relative;
    z-index: 5;
}

:host(.active) {
    box-shadow: $sidebar-tab-box-shadow-active;
    margin-left: -2px;
}

:host(.active) .tab-card {
    color: $primary-text-color;
    z-index: 15;
}

:host(.active) .tab-text {
    font-family: $font-family-roboto-medium;
    transform: rotate(180deg) translateX(2px);
}

@keyframes blink-tab {
    0% {
        background-color: $tertiary-color;
    }
    50% {
        background-color: $dashlet-background-color;
    }
    100% {
        background-color: $tertiary-color;
    }
}

@keyframes guide-overlay-tab {
    from {
        background-color: $tertiary-color;
        top: calc(50% - 200px);
        left: calc(50% - 100px);
        height: 400px;
        width: 200px;
    }
    to {
        background-color: transparent;
        top: 50%;
        left: 50%;
        height: 0;
        width: 0;
    }
}

:host(.highlight) .tab-card {
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    animation-name: blink-tab;
    animation-timing-function: ease-in-out;
    background-color: $tertiary-color;
    color: $secondary-text-color;
}

:host(.highlight) .tab-card::after {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: guide-overlay-tab;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    border-radius: 2rem;
    content: " ";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 4;
}

span {
    display: block;
    transform: rotate(180deg);
    width: 100%;
    writing-mode: vertical-lr;
}
