<h2 class="notes__header" mat-dialog-title>Neuerungen und Verbesserungen</h2>
<mat-dialog-content
    [innerHtml]="releaseNoteString"
    class="notes__text"
></mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="notes__footer">
        <div class="notes__footer__actions--left">
            <button
                [mat-dialog-close]="true"
                class="notes__footer__close"
                mat-button
            >
                Schließen
            </button>
        </div>
        <div class="notes__footer__actions--right">
            <button
                (click)="openConfluence()"
                class="notes__footer__close"
                mat-button
            >
                Letzter Release
            </button>
            <button
                (click)="openConfluenceRoles()"
                class="notes__footer__close"
                mat-button
            >
                Benutzerrollen
            </button>
        </div>
    </div>
</mat-dialog-actions>
