@import "./styles/base/variables";

.spinner-container {
    background-color: $spinner-overlay-background-color;
    z-index: 99;
}

::ng-deep .mat-mdc-progress-spinner circle,
.mat-mdc-progress-spinner circle {
    stroke: $spinner-circle-color;
}

::ng-deep f360-home-search-field .mat-mdc-progress-spinner circle {
    stroke: white;
}
