:host ::ng-deep #beschwerde-dashlet {
    padding: 0 !important;
}

:host ::ng-deep .control-section {
    padding: 0;
}

.dashletMeldung {
    display: table;
    width: 100%;
}

.dashletMeldung span {
    //font-size: 18px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.dashletMeldung i {
    font-size: 50px;
    vertical-align: middle;
}

f360-loading-indicator {
    padding: 50px !important;
}
