<f360-dashlet id="dsgvo-dashlet">
    <f360-dashlet-header
        (actionIconClicked)="pdfHerunterladen()"
        [actionIcon]="'file_download'"
        actionIconTooltipText="PDF herunterladen"
        dashletIcon="lock"
    >
        DSGVO: Auskunftsersuchen
    </f360-dashlet-header>
    <f360-dashlet-content class="focus360-dashlet-content--without-footer">
        <!-- LOADING SPINNER -->
        <ng-template #loadingSpinner>
            <f360-loading-indicator></f360-loading-indicator>
        </ng-template>
        <!-- CONTENT -->
        <ng-container>
            <div class="dashletMeldung" id="empty">
                <span class="data-header info"
                    ><i class="material-icons">info</i> Klicken Sie auf den
                    Download-Button um das PDF herunterzuladen!</span
                >
            </div>
        </ng-container>
    </f360-dashlet-content>
</f360-dashlet>
