<div class="wrapper">
    <div class="header-wrapper">
        <h2>Fachschlüsselauswahl</h2>
    </div>
    <ng-container>
        @if (!resultList && !detailSearchError) {
            <f360-loading-indicator />
        }
        @if (resultList) {
            <div class="table__wrapper">
                <table [dataSource]="dataSource" class="table" mat-table>
                    <ng-container matColumnDef="fachschluesselArt">
                        <mat-header-cell
                            *matHeaderCellDef
                            class="table__header-cell"
                            mat-sort-header
                        >
                            <span>Fachschlüsselart</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="table__cell">
                            <span
                                >{{ element.fachschluesselArt }}
                            </span></mat-cell
                        >
                    </ng-container>
                    <ng-container matColumnDef="fachschluessel">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="table__header-cell"
                        >
                            <span>Fachschlüssel</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="table__cell">
                            <span>{{ element.fachschluessel }} </span></mat-cell
                        >
                    </ng-container>
                    <mat-header-row
                        *matHeaderRowDef="columnNames"
                        class=""
                    ></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: columnNames"
                        (click)="handleFsClicked(row.fachschluessel)"
                        class="table__row"
                        mat-row
                    ></mat-row>
                </table>
            </div>
        }

        <div class="footer">
            <mat-paginator
                class="paginator"
                hidePageSize
                pageSize="6"
            ></mat-paginator>
        </div>

        @if (detailSearchError) {
            <div class="dashlet-meldung">
                <div class="meldung-container">
                    <div
                        class="data-header info"
                        [ngClass]="{
                            'cursor-pointer':
                                detailSearchError.hasMeldungsText(),
                        }"
                        (click)="
                            detailSearchError.toggleOpenIfHasMeldungsText()
                        "
                    >
                        <mat-icon class="error-icon">error</mat-icon>
                        {{ detailSearchError.fehlerkategorie }}
                        @if (detailSearchError.hasMeldungsText()) {
                            <mat-icon class="dropdown-icon">
                                {{
                                    detailSearchError.open
                                        ? "arrow_drop_up"
                                        : "arrow_drop_down"
                                }}
                            </mat-icon>
                        }
                    </div>
                    @if (detailSearchError.open) {
                        <div class="data-text info">
                            {{ detailSearchError.meldungstext }}
                        </div>
                    }
                </div>
            </div>
        }
    </ng-container>
</div>
