.wrapper {
    display: flex;

    flex-direction: column;
    padding: 1.5rem;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
}

.center-line {
    display: flex;
    justify-content: center;
}

@import "src/app/styles/base/variables";

.dashlet-meldung {
    border: none;
    display: table;
    height: 100%;
    width: 100%;
}

.meldung-container {
    display: table-cell;
    padding: $data-spacing;
    text-align: center;
    vertical-align: middle;
}

.error-icon {
    color: $error-icon-color;
    font-size: $dashlet-error-icon-size;
    height: $dashlet-error-icon-size;
    margin: $dashlet-error-icon-spacing;
    vertical-align: middle;
    width: $dashlet-error-icon-size;
}

.dropdown-icon {
    vertical-align: middle;
}

.data-header {
    font-family: $font-family-roboto-medium;
}

.data-text {
    font-family: $font-family-roboto-light;
}

// Table SCSS

table__wrapper {
    flex: auto;
    overflow-x: hidden;
    width: 100%;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table__header-row {
    display: flex;
}

.table__row {
    cursor: pointer;
    max-width: 100%;
}

.table__row:nth-of-type(even) {
    background-color: $data-background-color-even;
}

.table__row:nth-of-type(odd) {
    background-color: $data-background-color-odd;
}

.span--hidden-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.table__cell {
    color: $primary-text-color;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table__cell > span {
    @extend .span--hidden-overflow;
    @extend .table__cell;
}

.footer {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 0;
    margin-top: auto;
    min-height: $dashlet-footer-height;
}

.paginator {
    margin: $dashlet-footer-spacing $data-spacing $dashlet-footer-spacing auto;
}
