@if (!isClearText() && angehoerige?.length > 0) {
    <div id="ang_load" class="dashletMeldung">
        <f360-button
            (onClick)="loadAngehoerige()"
            label="Angehörige laden"
        ></f360-button>
    </div>
} @else if (angehoerige?.length > 0 && angError == null) {
    <div class="data-container">
        <div class="table-container">
            <table mat-table [dataSource]="angehoerigeTable" class="table">
                <caption></caption>
                <th id="header"></th>
                <ng-container matColumnDef="zeit">
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.gueltigVon | date: "dd.MM.yyyy" }} -{{
                            element.gueltigBis.getTime() === 0
                                ? "laufend"
                                : (element.gueltigBis | date: "dd.MM.yyyy")
                        }}<br />{{ element.nachname }} {{ element.vorname }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="typ">
                    <td mat-cell *matCellDef="let element" class="data-text">
                        <span
                            class="ang-vsnr-color"
                            (click)="
                                readKVAVersicherter(element.versicherungsnummer)
                            "
                            >{{ element.versicherungsnummer | vsnr }}</span
                        >
                        <span class="table__cell">{{
                            element.meldendeStelle
                        }}</span>
                        <br />
                        <div matTooltip="{{ element.typ }}" class="table__cell">
                            {{ element.typ }}
                        </div>
                    </td>
                </ng-container>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="table__row"
                ></tr>
            </table>
        </div>
        <mat-paginator
            #angehoerigePaginator
            pageSize="2"
            hidePageSize
        ></mat-paginator>
    </div>
} @else if (angError != null) {
    <f360-dashlet-error
        [error]="angError"
        class="dashletMeldung"
    ></f360-dashlet-error>
} @else {
    <div class="dashletMeldung">
        <span class="data-header info"
            ><i class="material-icons">not_interested</i> Keine weiteren
            Angehörigen</span
        >
    </div>
}
