@import "src/app/styles/base/variables";
@import "src/app/styles/base/layout";

.data-container {
    background: $data-background-color;
    border-top: 1px solid $primary-border-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#versicherungszeiten {
    background-color: $primary-background-color;
    color: $primary-text-color;
    font-family: $font-family-roboto-medium;
    font-size: $dashlet-font-size;
    opacity: 1;
    width: 50%;
}

.content {
    flex-shrink: 0;
    height: 100%;
}

.tab-body {
    height: 100%;
}
