<f360-dashlet id="beschwerde-dashlet">
    <f360-dashlet-header dashletIcon="warning">
        Kundenfeedback
    </f360-dashlet-header>
    <f360-dashlet-content class="focus360-dashlet-content--without-footer">
        <!-- LOADING SPINNER -->
        <!-- CONTENT -->
        @if (beschwerdeListe != null || error != null) {
            <div class="content">
                @if (beschwerdeListe && beschwerdeListe.length > 0) {
                    <div class="table__wrapper">
                        <table
                            [dataSource]="dataSource"
                            class="table"
                            mat-table
                            matSort
                        >
                            <ng-container matColumnDef="erstellDatumBez">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    class=""
                                    mat-sort-header
                                >
                                    <span>Datum</span>
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span class="table__cell"
                                        >{{ element.erstellDatumBez }}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="kontaktArtBezeichnung">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    class=""
                                    mat-sort-header
                                >
                                    <span>Kontaktart</span>
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span class="table__cell"
                                        >{{ element.kontaktArtBezeichnung }}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="feedbackArtBezeichnung">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Feedbackart
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span class="table__cell"
                                        >{{ element.feedbackArtBezeichnung }}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="themaBezeichnung">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Thema
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span class="table__cell"
                                        >{{ element.themaBezeichnung }}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container
                                matColumnDef="unterkategorieBezeichnung"
                            >
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Unterkategorie
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span class="table__cell"
                                        >{{ element.unterkategorieBezeichnung }}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="grundBezeichnung">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Grund
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let element"
                                    class="table__cell"
                                >
                                    <span class="table__cell">{{
                                        element.grundBezeichnung
                                    }}</span>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row
                                *matHeaderRowDef="columnNames"
                                class=""
                            ></mat-header-row>
                            <mat-row
                                (click)="beschwerdeBearbeiten(row)"
                                *matRowDef="let row; columns: columnNames"
                                class="table__row"
                                mat-row
                            ></mat-row>
                        </table>
                    </div>
                } @else {
                    @if (!error) {
                        <div class="dashletMeldung">
                            <span class="data-header info"
                                ><i class="material-icons">not_interested</i>
                                Kein Kundenfeedback vorhanden.</span
                            >
                        </div>
                    }
                    @if (error) {
                        <f360-dashlet-error
                            [error]="error"
                            class="dashletMeldung"
                        ></f360-dashlet-error>
                    }
                }
                <!-- Tabellen Footer -->
                <div class="footer">
                    <mat-form-field
                        appearance="outline"
                        class="form-field dense-elements"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>Filter</mat-label>
                        <input
                            (keyup)="applyFilter($event.target.value)"
                            matInput
                            class="mat-form-field__input--filter"
                        />
                    </mat-form-field>
                    <mat-paginator
                        class="paginator"
                        hidePageSize
                        pageSize="6"
                    ></mat-paginator>
                </div>
            </div>
        } @else {
            <f360-loading-indicator></f360-loading-indicator>
        }
    </f360-dashlet-content>
</f360-dashlet>
