<div class="focus360-search-field__field-container">
    <input
        #input
        (keydown.enter)="onKeyDownEnter()"
        [value]="value"
        autocomplete="off"
        id="focus360-search-field"
        matTooltip="VSNR"
        name="search-field-vsnr"
        placeholder="VSNR eingeben"
        type="text"
    />
    <mat-icon
        (click)="clickMore()"
        class="focus360-search-field__more-icon"
        matSuffix
        >more_horiz
    </mat-icon>
    <mat-icon
        (click)="onKeyDownEnter()"
        class="focus360-search-field__search-icon"
        matSuffix
        >search
    </mat-icon>
</div>
