@import "../../../../styles/base/variables";

:host {
    display: block;
    margin-left: -30px;
}

// Muss gesetzt werden, da sonst umgebene Komponente/Layout beeinträchtigt werden
.focus360-search-field__field-container {
    position: relative;
}

// Hier muss ein ID-Selektor verwendet werden, da sonst Angular Material Stylings nicht überschrieben werden können
#focus360-search-field {
    border: 0 none;
    border-radius: 35px;
    color: $search-field-font-color;
    font-family: $primary-font-family;
    font-size: $search-field-font-size;
    height: $search-field-height;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    text-indent: 0.5rem;
    width: 100%;
}

#focus360-search-field:focus {
    box-shadow: $search-field-focus-box-shadow;
    outline: transparent 0;
}

.focus360-search-field__search-icon,
.focus360-search-field__more-icon {
    color: $search-field-icon-color;
    cursor: pointer;
    font-size: $search-field-icon-size;
    height: $search-field-icon-size;
    position: absolute;
    right: -2rem;
    top: 0.25rem;
    width: $search-field-icon-size;
}

.focus360-search-field__more-icon {
    right: 0;
}
