@import "../../../../../styles/base/variables";

#geldAdressenTable {
    width: 100%;
}

#geldAdressenTable th,
td {
    font-weight: normal;
    padding: 0;
    text-align: left;
}

.content {
    flex-shrink: 0;
    height: 100%;
}

.tab-body {
    height: 100%;
}
