<f360-dashlet id="stammdaten">
    <f360-dashlet-header
        [launchTooltipText]="'ZPV-Versichertenübersicht öffnen'"
        [launch]="dashboardUrl"
        dashletIcon="account_box"
        >Stammdaten
    </f360-dashlet-header>
    <f360-dashlet-content class="focus360-dashlet-content--without-footer">
        @if (stammdaten != null) {
            <!-- TEMPLATE::STAMMDATEN -->
            <ng-template #stammDaten>
                <f360-dashlet-stammdaten-content
                    [stammdaten]="stammdaten"
                /> </ng-template
            ><!-- TEMPLATE::VOLLMACHTEN -->
            <ng-template #vollMachten>
                <f360-dashlet-stammdaten-vollmachten-content
                    [vollmachten]="stammdaten?.vollmachten"
                /> </ng-template
            ><!-- TEMPLATE::STAMMDATEN UND VOLLMACHTEN -->
            <ng-template #stammDatenUndVollmachten>
                <mat-tab-group class="content" id="tabgroup">
                    <mat-tab class="tab-body" label="Stammdaten">
                        <ng-container
                            [ngTemplateOutlet]="stammDaten"
                        ></ng-container>
                    </mat-tab>
                    <mat-tab class="tab-body" label="Vollmachten">
                        <ng-container [ngTemplateOutlet]="vollMachten" />
                    </mat-tab>
                </mat-tab-group> </ng-template
            ><!-- ACTUAL CONTENT -->
            @if (stammdaten?.vollmachten?.length > 0) {
                <ng-container
                    [ngTemplateOutlet]="stammDatenUndVollmachten"
                ></ng-container>
            } @else {
                <f360-dashlet-stammdaten-content [stammdaten]="stammdaten" />
            }
        } @else {
            <f360-loading-indicator></f360-loading-indicator>
        }
    </f360-dashlet-content>
</f360-dashlet>
