@import "../../../../styles/base/variables";

.focus360-dashlet {
    border: none;
    border-radius: $border-radius-size;
    box-shadow: $dashlet-box-shadow;
    color: $primary-text-color;
    height: 100%;
    margin: 0;
    min-height: $dashlet-min-height;
    min-width: $dashlet-min-width;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.focus360-dashlet:hover {
    box-shadow: $dashlet-box-shadow-hover;
}
