@if (versicherungszeiten?.length > 0) {
    <div class="data-container">
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="table">
                <caption></caption>
                <th id="header"></th>
                <ng-container matColumnDef="zeit">
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.beginnDatum | date: "dd.MM.yyyy" }}-{{
                            element.endeDatum === null
                                ? "laufend"
                                : (element.endeDatum | date: "dd.MM.yyyy")
                        }}<br />
                        <div
                            class="max-length-constraint"
                            matTooltip="{{ element.dienstgebername }}"
                        >
                            {{
                                element.dienstgebername == ""
                                    ? "&nbsp;"
                                    : element.dienstgebername
                            }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="qualifikation">
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.meldendeStelle }}<br />
                        <div
                            matTooltip="{{ element.qualifikation }}"
                            class="max-length-constraint"
                        >
                            {{ element.qualifikation }}
                        </div>
                    </td>
                </ng-container>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="table__row"
                ></tr>
            </table>
        </div>
        <div class="footer">
            <mat-paginator
                hidePageSize
                pageSize="2"
                class="paginator dense-elements"
            ></mat-paginator>
        </div>
    </div>
}
@if (versicherungszeiten?.length == 0) {
    <div id="empty" class="dashletMeldung">
        <span class="data-header info">
            <i class="material-icons">not_interested</i> Keine
            Versicherungszeiten vorhanden.
        </span>
    </div>
}
<f360-dashlet-error [error]="error"></f360-dashlet-error>
