@import "../../../../styles/base/_variables";

:host {
    background: $data-background-color;
    border-top: 1px solid $primary-border-color;
    box-sizing: border-box;
    color: $primary-text-color;
    display: block;
    height: 100%;
    padding: $data-spacing;
}
