@if (vollmachten?.length > 0) {
    <div class="data-container">
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="table">
                <caption></caption>
                <th id="header"></th>
                <ng-container matColumnDef="zeit">
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.gueltigVon | date: "dd.MM.yyyy" }}-{{
                            element.gueltigBis === null
                                ? "laufend"
                                : (element.gueltigBis | date: "dd.MM.yyyy")
                        }}<br />
                        <div
                            class="max-length-constraint"
                            matTooltip="{{ element.beziehungsart }}"
                        >
                            {{
                                element.beziehungsart == ""
                                    ? "&nbsp;"
                                    : element.beziehungsart
                            }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="person">
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="data-text person"
                    >
                        <div
                            matTooltip="{{ element.name }}"
                            class="max-length-constraint"
                        >
                            {{ element.name }}
                        </div>
                        <div
                            matTooltip="{{ element.artDerVollmacht }}"
                            class="table__cell"
                        >
                            {{ element.artDerVollmacht }}
                        </div>
                    </td>
                </ng-container>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="table__row"
                ></tr>
            </table>
        </div>
        <mat-paginator
            [pageSizeOptions]="[3]"
            showFirstLastButtons
        ></mat-paginator>
    </div>
}
@if (vollmachten?.length == 0) {
    <div id="empty" class="dashletMeldung">
        <span class="data-header info">
            <i class="material-icons">not_interested</i> Keine Vollmachten
            vorhanden.
        </span>
    </div>
}
