@if (items && items.length > 0) {
    <button
        mat-button
        class="focus360-history-menu-button"
        [matMenuTriggerFor]="historyMenu"
        aria-label="Historie"
    >
        Historie
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #historyMenu="matMenu" class="focus360-history-menu">
        <mat-chip-listbox class="focus360-chip-list">
            @for (item of items; track item) {
                <f360-chip
                    [id]="item.id"
                    [label]="item.label"
                    [tooltip]="item.tooltip"
                    matTooltipPosition="right"
                    [selected]="item.selected"
                    [selectable]="item.selectable"
                    [removable]="item.removable"
                    [disabled]="item.disabled"
                    [pipe]="item.pipe"
                    (onChipRemove)="onRemove($event)"
                    (onChipClick)="onClick($event)"
                    [matTooltip]="
                        sucheService._readVersicherterFromCache(item.label)
                            ?.stammdaten?.name
                    "
                ></f360-chip>
            }
        </mat-chip-listbox>
    </mat-menu>
}
