<f360-dashlet id="stammdaten">
    <f360-dashlet-header
        [launchTooltipText]="'LGK Versicherten-Leistungsübersicht öffnen'"
        [launch]="lgkkUrl"
        dashletIcon="healing"
    >
        Leistung
    </f360-dashlet-header>
    <f360-dashlet-content class="focus360-dashlet-content--without-footer">
        <!-- TEMPLATE::NOT_FOUND -->
        <!-- TEMPLATE::LOADING_INDICATOR -->

        @if (leistung || error) {
            @if (error && !leistung) {
                <f360-dashlet-error [error]="error" />
            }
            @if (leistung) {
                <f360-dashlet-content-data>
                    @if (error) {
                        <div class="data-error">
                            <span>Achtung: {{ error.meldungstext }}</span>
                            <br /><br />
                        </div>
                    }
                    <div class="data-column">
                        <div id="verw-stellungsnahme" class="data-block">
                            <a class="data-header">Verwaltungsstellungsnahme</a
                            ><br />
                            @if (leistung?.vwst?.length != 0) {
                                @for (verwst of leistung?.vwst; track verwst) {
                                    <a class="data-text"
                                        >{{
                                            isLaufend(verwst.gueltigBisDat)
                                                ? "laufend"
                                                : (verwst.gueltigBisDat
                                                  | date: "dd.MM.yy")
                                        }}<i
                                            class="material-icons leistung-icon"
                                            style="padding-left: 0.5rem"
                                            >{{
                                                iconFor(verwst.leistungsType)
                                            }}</i
                                        >{{ verwst.leistungsType }} </a
                                    ><br />
                                }
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="med-stellungsnahme" class="data-block">
                            <a class="data-header">Med. Stellungsnahme</a><br />
                            @if (leistung?.medSt?.length != 0) {
                                @for (medst of leistung?.medSt; track medst) {
                                    <a class="data-text">
                                        <span class="data-text-column"
                                            >{{ medst.lgebiet }}:{{
                                                isLaufend(medst.gueltigBisDat)
                                                    ? "laufend"
                                                    : (medst.gueltigBisDat
                                                      | date: "dd.MM.yy")
                                            }}</span
                                        >
                                        <span class="data-text-column"
                                            ><i
                                                class="material-icons leistung-icon"
                                                >{{
                                                    iconFor(medst.stellungnahme)
                                                }}</i
                                            >{{ medst.stellungnahme }}</span
                                        > </a
                                    ><br />
                                }
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="transporte" class="data-block">
                            <a class="data-header">Transporte - KE</a><br />
                            @if (leistung?.frt; as frt) {
                                <a class="data-text"
                                    >{{ frt.transportDat | date: "dd.MM.yy"
                                    }}<i class="material-icons leistung-icon">{{
                                        iconFor(frt.status)
                                    }}</i
                                    >{{ frt.status }}</a
                                >
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                            <br />
                        </div>
                    </div>
                    <div class="data-column">
                        <div id="au-mh-rg-weg" class="data-block">
                            <a class="data-header">AU / MH / RG / WEG</a><br />
                            @if (leistung?.auMhRgWeg; as auMhRgWeg) {
                                <a class="data-text"
                                    >{{ auMhRgWeg.lgebiet }}:{{
                                        auMhRgWeg.lvonDat | date: "dd.MM.yy"
                                    }}-{{
                                        isLaufend(auMhRgWeg.lbisDat)
                                            ? "laufend"
                                            : (auMhRgWeg.lbisDat
                                              | date: "dd.MM.yy")
                                    }}<i class="material-icons leistung-icon">{{
                                        iconFor(auMhRgWeg.status)
                                    }}</i
                                    >{{ auMhRgWeg.status }}</a
                                ><br />
                                @if (auMhRgWeg.anweisungsDat) {
                                    <a class="data-text"
                                        >letzte Auszahlung:{{
                                            auMhRgWeg.anweisungsDat
                                                | date: "dd.MM.yy"
                                        }}</a
                                    >
                                }
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="wah-waza" class="data-block">
                            <a class="data-header">WAH / WAZA</a><br />
                            @if (leistung?.wahWaza; as wahWaza) {
                                <a class="data-text">
                                    <span class="data-text-column"
                                        >{{ wahWaza.lgebiet }}:{{
                                            wahWaza.behDat | date: "dd.MM.yy"
                                        }}</span
                                    >
                                    <span class="data-text-column"
                                        ><i
                                            class="material-icons leistung-icon"
                                            >{{ iconFor(wahWaza.status) }}</i
                                        >{{ wahWaza.status }}</span
                                    > </a
                                ><br />
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="waza-ko-kfo" class="data-block">
                            <a class="data-header">WAZA - KO, KFO</a><br />
                            @if (leistung?.wazaKo; as wazako) {
                                <a class="data-text">
                                    <span class="data-text-column">{{
                                        wazako.antragDat | date: "dd.MM.yy"
                                    }}</span>
                                    <span class="data-text-column"
                                        ><i
                                            class="material-icons leistung-icon"
                                            >{{ iconFor(wazako.status) }}</i
                                        >{{ wazako.status }}</span
                                    >
                                </a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="hb-hm" class="data-block">
                            <a class="data-header">HBHM</a><br />
                            @if (leistung?.hbhm; as hbhm) {
                                <a class="data-text">
                                    <span class="data-text-column">{{
                                        hbhm.verordnungsDat | date: "dd.MM.yy"
                                    }}</span>
                                    <span class="data-text-column"
                                        ><i
                                            class="material-icons leistung-icon"
                                            >{{ iconFor(hbhm.status) }}</i
                                        >{{ hbhm.status }}</span
                                    >
                                </a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                    </div>
                    <div class="data-column">
                        <div id="spitalsaufenthalt" class="data-block">
                            <a class="data-header">Spitalsaufenthalt</a><br />
                            @if (leistung?.kh; as kh) {
                                <a class="data-text"
                                    >{{ kh.lvonDat | date: "dd.MM.yy" }}-{{
                                        isLaufend(kh.lbisDat)
                                            ? "laufend"
                                            : (kh.lbisDat | date: "dd.MM.yy")
                                    }}</a
                                ><i
                                    class="material-icons info-icon leistung-icon"
                                    style="color: green"
                                    matTooltip="{{ kh.leName }} - {{
                                        kh.aufnahmeArt
                                    }}"
                                    matTooltipPosition="below"
                                    >info</i
                                >
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="vorfallserhebung" class="data-block">
                            <a class="data-header">Vorfallerhebung</a><br />
                            @if (leistung?.unfallerh) {
                                @if (leistung?.unfallerh.erstellDat) {
                                    <span class="data-text"
                                        >{{
                                            leistung?.unfallerh.erstellDat
                                                | date: "dd.MM.yy"
                                        }}<i
                                            class="material-icons leistung-icon"
                                            >description</i
                                        >
                                        erfasst</span
                                    ><br />
                                }
                                @if (leistung?.unfallerh.eingelangtDat) {
                                    <a class="data-text"
                                        >{{
                                            leistung?.unfallerh.eingelangtDat
                                                | date: "dd.MM.yy"
                                        }}<i
                                            class="material-icons leistung-icon"
                                            >save_alt</i
                                        >eingelangt</a
                                    ><br />
                                }
                                @if (leistung?.unfallerh.urgenz1Dat) {
                                    <a class="data-text"
                                        >{{
                                            leistung?.unfallerh.urgenz1Dat
                                                | date: "dd.MM.yy"
                                        }}<i
                                            class="material-icons leistung-icon"
                                            >error</i
                                        >
                                        Urgenz 1</a
                                    ><br />
                                }
                                @if (leistung?.unfallerh.urgenz2Dat) {
                                    <a class="data-text"
                                        >{{
                                            leistung?.unfallerh.urgenz2Dat
                                                | date: "dd.MM.yy"
                                        }}<i
                                            class="material-icons leistung-icon"
                                            >new_releases</i
                                        >
                                        Urgenz 2</a
                                    ><br />
                                }
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="ekos">
                            <a class="data-header">EKOS</a><br />
                            @if (leistung?.ekos; as ekos) {
                                <a class="data-text"
                                    >{{ ekos.eingelangtDat | date: "dd.MM.yy"
                                    }}<i class="material-icons leistung-icon">{{
                                        iconFor(ekos.antragStatus)
                                    }}</i
                                    >{{ ekos.antragStatus }}
                                </a>
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                        <div id="gebuehrenbefreiungen">
                            <a class="data-header">Rezeptgebührenbefreiung</a
                            ><br />
                            @if (leistung?.gbs?.length != 0) {
                                @for (gb of leistung?.gbs; track gb) {
                                    <a class="data-text">{{
                                        gb.befreiungsgrund
                                    }}</a
                                    ><br /><a class="data-text"
                                        >{{ gb.lvonDat | date: "dd.MM.yy" }}-{{
                                            isLaufend(gb.lbisDat)
                                                ? "laufend"
                                                : (gb.lbisDat
                                                  | date: "dd.MM.yy")
                                        }} </a
                                    ><br /><br />
                                }
                            } @else {
                                <i class="material-icons leistung-icon"
                                    >not_interested</i
                                >
                            }
                        </div>
                    </div>
                </f360-dashlet-content-data>
            }
        } @else {
            <f360-loading-indicator></f360-loading-indicator>
        }
    </f360-dashlet-content>
</f360-dashlet>
