@import "src/app/styles/base/variables";

.spinner-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.loading-indicator-spinner {
    color: $primary-color;
    margin: 0 auto;
    vertical-align: middle;
}
