<div [hidden]="!(betreutenZeiten?.length > 0)" class="data-container">
    <div class="data-table-wrapper">
        <table [dataSource]="betreutenDataSource" mat-table>
            <caption></caption>
            <th id="header"></th>
            <ng-container matColumnDef="zeit">
                <td *matCellDef="let element" class="table__cell" mat-cell>
                    {{ element.betreuungVon | date: "dd.MM.yyyy" }}-{{
                        isLaufend(element.betreuungBis)
                            ? "laufend"
                            : (element.betreuungBis | date: "dd.MM.yyyy")
                    }}<br />
                    <div
                        class="max-length-constraint"
                        matTooltip="{{ element.status }}"
                    >
                        {{ element.status == "" ? "&nbsp;" : element.status }}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="qualifikation">
                <td *matCellDef="let element" class="table__cell" mat-cell>
                    <div
                        class="max-length-constraint"
                        matTooltip="{{ element.landesstelle }}"
                    >
                        {{ element.landesstelle }}
                    </div>
                </td>
            </ng-container>
            <tr
                *matRowDef="let row; columns: displayedColumns"
                class="table__row"
                mat-row
            ></tr>
        </table>
    </div>
    <mat-paginator
        #betreutenPaginator
        hidePageSize
        pageSize="2"
    ></mat-paginator>
</div>
@if (betreutenZeiten?.length == 0) {
    <div id="empty-betreute" class="dashletMeldung">
        <span class="data-header info"
            ><i class="material-icons">not_interested</i> Keine
            Betreuungszeiten</span
        >
    </div>
}
<f360-dashlet-error [error]="error"></f360-dashlet-error>
