@import "../../../../styles/base/variables";

.focus360-chip-selectable {
    cursor: pointer;
}

::ng-deep .mat-mdc-standard-chip {
    --mdc-chip-disabled-label-text-color: #212121;
    --mdc-chip-elevated-container-color: #{$chip-not-selected-background-color};
    --mdc-chip-elevated-disabled-container-color: #{$chip-disabled-color};
    --mdc-chip-label-text-color: #212121;
    --mdc-chip-with-icon-disabled-icon-color: #212121;
    --mdc-chip-with-icon-icon-color: #212121;
    --mdc-chip-with-icon-selected-icon-color: #212121;
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: #212121;
    --mdc-chip-with-trailing-icon-trailing-icon-color: #212121;
}

::ng-deep .mat-mdc-chip {
    font-size: $chip-font-size;
    transition:
        box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

::ng-deep .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected,
.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-highlighted {
    --mdc-chip-disabled-label-text-color: white;
    --mdc-chip-elevated-container-color: #{$chip-selected-background-color};
    --mdc-chip-elevated-disabled-container-color: #{$chip-not-selected-background-color};
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-icon-disabled-icon-color: white;
    --mdc-chip-with-icon-icon-color: white;
    --mdc-chip-with-icon-selected-icon-color: white;
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
}

// Deaktiviert standardmäßiges Overlay bei Hover (Angular Material)
::ng-deep .mat-mdc-chip.mat-mdc-standard-chip::after {
    background: transparent;
}

// Styling für nicht selektierten Chip
::ng-deep mat-chip.mat-mdc-chip.mat-mdc-standard-chip.mat-primary {
    background-color: $chip-not-selected-background-color;
    border: 2px solid $chip-border-color;
    color: $chip-not-selected-color;
    opacity: 1;
}

// Styling für selektierten Chip
::ng-deep
    mat-chip.mat-mdc-chip.mat-mdc-standard-chip.mat-chip-selected.mat-primary {
    background-color: $chip-selected-background-color;
    color: $chip-selected-font-color;
    opacity: 1;
}

// Styling für nicht selektiertes Chip-Remove-Icon
::ng-deep
    mat-chip.mat-mdc-chip.mat-mdc-standard-chip.mat-primary
    .mat-chip-remove {
    color: $chip-not-selected-icon-color;
    opacity: 0.7;
}

// Styling für nicht selektiertes gehovertes Chip-Remove-Icon
::ng-deep
    mat-chip.mat-mdc-chip.mat-mdc-standard-chip:not(.mat-chip-disabled)
    .mat-chip-remove:hover {
    color: $chip-not-selected-icon-color;
    opacity: 1;
}

// Styling für nicht selektiertes gehovertes Chip-Remove-Icon
::ng-deep
    mat-chip.mat-mdc-chip.mat-mdc-standard-chip.mat-chip-selected.mat-primary
    .mat-chip-remove {
    color: $chip-selected-icon-color;
    opacity: 0.7;
}

// Styling für selektiertes gehovertes Chip-Remove-Icon
::ng-deep
    mat-chip.mat-mdc-chip.mat-mdc-standard-chip.mat-chip-selected.mat-primary:not(
        .mat-chip-disabled
    )
    .mat-chip-remove:hover {
    color: $chip-selected-font-color;
    opacity: 1;
}

// Styling für gehoverten nicht selektierten Chip
::ng-deep
    mat-chip.mat-mdc-chip.mat-mdc-standard-chip:not(.mat-chip-disabled):hover {
    background-color: $chip-not-selected-hover-background-color;
    opacity: 1;
}

// Styling für gehoverten selektierten Chip
::ng-deep
    mat-chip.mat-mdc-chip.mat-chip-selected.mat-mdc-standard-chip:not(
        .mat-chip-disabled
    ):hover {
    background-color: $chip-selected-hover-background-color;
    box-shadow: $chip-selected-hover-box-shadow;
    outline: transparent 0;
}

// Styling für Chip-Remove-Icon Font
::ng-deep mat-chip.mat-mdc-chip .mat-chip-remove.mat-icon,
.mat-chip .mat-chip-trailing-icon.mat-icon {
    font-size: $chip-remove-icon-size;
}

// Styling für Chip-Remove-Icon
::ng-deep mat-chip.mat-mdc-standard-chip .mat-mdc-chip-remove.mat-icon {
    height: $chip-remove-icon-size;
    width: $chip-remove-icon-size;
}
