<mat-chip-option
    (click)="!disabled && selectable !== false && onClick()"
    (removed)="!disabled && onRemove()"
    [disabled]="disabled"
    [ngClass]="{
        'focus360-chip-selectable': !disabled && selectable !== false,
    }"
    [removable]="removable || true"
    [selectable]="selectable || true"
    [selected]="selected"
    class="focus360-chip"
    id="{{ id }}"
    >{{ label | dynamicPipe: null : null }}
    @if (removable) {
        <mat-icon matChipRemove>cancel</mat-icon>
    }
</mat-chip-option>
