<div class="focus360-header-container">
    <f360-header-logo (click)="onLogoClick()"></f360-header-logo>
    @if (isDashScreen) {
    <f360-header-search-field
        (onSearchFieldEnter)="onSearchFieldEnter($event)"
    ></f360-header-search-field>
    <f360-header-chips
        (onChipClick)="onChipClick($event)"
        (onChipRemove)="onChipRemove($event)"
    ></f360-header-chips>
    } @if (!isDashScreen) {
    <f360-header-environment></f360-header-environment>
    }
    <f360-header-user-menu
        [userInfo]="$userInfo | async"
    ></f360-header-user-menu>
</div>
@if (isDashScreen) {
<f360-info-header></f360-info-header>
}
