@import "src/app/styles/base/_layout.scss";

.span-like-input {
    white-space: pre;
}

.stay-safe-from-footer {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding-right: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.feedback__wrapper--border {
    border: $hover-border-size solid $hover-border-color;
    box-sizing: border-box;
    margin: 1rem 0 1rem 1rem;
    padding: $default-font-size;
    width: auto;
}

.row > * {
    width: 47.5%;
}

.abgabe-durch-dritte-checkbox {
    align-self: center;
}

.full-width {
    width: 100% !important;
}

.kontakt-form-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.detail-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.detail-checkbox {
    width: 50%;
}

%button-toggle {
    border: 2px solid $checkbox-button-background-color !important;
    border-radius: $checkbox-button-border-radius;
    box-sizing: border-box;
    margin: 2px;
    width: calc(50% - 4px);
}

.button-toggle {
    @extend %button-toggle;
    background-color: $secondary-color-lighter-6;
}

.button-toggle-feedback {
    @extend %button-toggle;
    width: calc(33.33% - 4px);
}

.button-toggle-group {
    display: contents;
}

.detail-header {
    margin-bottom: 1rem;
}

.unterdetail-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-block {
    display: flex;
    flex-direction: column;
}

.data-text {
    flex-wrap: wrap;
}

.data-header {
    margin-bottom: 0.5rem;
}

.control-section {
    border-top: 1px solid $primary-border-color;
    bottom: 0;
    display: block;
    margin: 2rem -2rem 0;

    padding: 0 2rem 0;
    position: absolute;

    width: 100%;
}

.button-group {
    padding-top: 1rem;
}

.erfassen-button {
    background-color: $primary-color;
    color: $secondary-text-color;
    float: right;
}

.text-area-kontakt {
    margin: 4px;
    width: 100%;
}

.abschlussButton-wrapper {
    width: 100%;
}

.abschlussButton {
    @extend %button-toggle;
    color: $primary-text-color;
    font-size: 16px;
    height: fit-content;
    line-height: 40px;
}

.select-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.select-row > * {
    width: 40%;
}
