@import "../../../../styles/base/variables";

.focus360-error-message__container {
    word-break: break-all;
}

.focus360-error-message__url {
    font-size: $error-message-url-font-size;
    font-weight: bold;
}
