.dash-footer-container {
    background-color: white;
    box-shadow: 0 -0.2em 0.3em -0.3em #333333;
    height: 3em;
    width: 100%;
}

.dash-build-number {
    color: dimgray;
    font-size: 12px;
    padding-top: 1em;
    text-align: center;
}
