<section>
    @if (label) {
        <label [ngClass]="{ invalid: hasError }">{{ label }}</label>
    }
    <mat-radio-group
        (change)="onRadioChange($event)"
        [(ngModel)]="value"
        [disabled]="disabled"
        [name]="name"
        [ngClass]="{ 'focus360-radio-group-vertical': vertical }"
    >
        @for (item of items; track item) {
            <mat-radio-button
                class="focus360-radio-button"
                [value]="item.value"
            >
                {{ item.label }}
            </mat-radio-button>
        }
    </mat-radio-group>
    <app-validation [errors]="errors" [hasError]="hasError"></app-validation>
</section>
