@import "../../../../styles/base/variables";

.mat-mdc-dialog-title.mdc-dialog__title.focus360-error-dialog__title {
    background-color: $error-background-color;
}

.mat-mdc-dialog-content.mdc-dialog__content.focus360-error-dialog__content {
    text-align: center;
}

.mat-mdc-dialog-actions.mdc-dialog__actions.focus360-error-dialog__actions {
    justify-content: center;
}

:host
    ::ng-deep
    div.mat-mdc-dialog-actions.focus360-error-dialog__actions
    .focus360-button {
    background-color: $error-background-color;
}
