@import "../../../../styles/base/variables";

:host {
}

.home-environment {
    background: $home-environment-background-color;
    border-radius: 1.5rem;
    color: $home-environment-text-color;
    font-size: 1.5rem;
    font-weight: bold;
    left: 50%;
    padding: 0.5rem 1.5rem;
    position: absolute;
    text-align: center;
    top: 2em;
    transform: translate(-50%, 0);
}
