<f360-dashlet-content-data>
    @if (stammdaten?.adresse) {
        <div class="data-block">
            <a class="data-header">Hauptwohnadresse</a><br />
            <a class="data-text">{{ stammdaten?.adresse.anschrift }}</a
            ><br />
            <a class="data-text"
                >{{ stammdaten?.adresse.plz }} {{ stammdaten?.adresse.ort }}</a
            >
        </div>
    }

    <div class="data-block">
        <a class="data-header">Telefon</a><br />
        <a class="data-text">{{ stammdaten?.telefonNummer }}</a>
    </div>
    <div class="data-block">
        <a class="data-header">E-Mail</a><br />
        <a class="data-text">{{ stammdaten?.mailAdresse }}</a>
    </div>
    <table class="data-block" id="geldAdressenTable">
        <caption></caption>
        <a class="data-header" id="institut">Bank</a>
        <tr class="data-header">
            <th id="iban">IBAN</th>
            <th id="bic">BIC</th>
        </tr>

        @for (geldAdresse of stammdaten?.geldAdressen; track geldAdresse) {
            <a
                [ngClass]="{
                    'data-header': geldAdresse.verwendungsartKurz == 'WEITE',
                }"
                >{{ geldAdresse.institut }}</a
            >
            <tr class="data-text">
                <td
                    [ngClass]="{
                        'data-header':
                            geldAdresse.verwendungsartKurz == 'WEITE',
                    }"
                >
                    {{ geldAdresse.iban | iban }}
                </td>
                <td
                    [ngClass]="{
                        'data-header':
                            geldAdresse.verwendungsartKurz == 'WEITE',
                    }"
                >
                    {{ geldAdresse.bic }}
                </td>
            </tr>
            <br />
        }
    </table>
</f360-dashlet-content-data>
