@import "_variables.scss";

body {
    color: $primary-text-color;
    font-family: $primary-font-family;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
}

// Blauen Border bei einigen fokusierten Elementen entfernen
*:focus {
    outline: none;
}

.leistung-icon {
    color: $primary-text-color;
    cursor: default;
    font-size: 21px;
    padding-left: 3px;
    vertical-align: middle;
}

.info-icon {
    color: $primary-link-color;
    cursor: default;
    padding-left: 3px;
    vertical-align: middle;
}

.mat-mdc-tooltip {
    font-size: 0.8rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

.data-header {
    font-family: "Roboto Light", sans-serif;
    font-size: $dashlet-font-size;
    font-weight: $default-font-weight;
    letter-spacing: normal;
    line-height: $default-line-height;
}

.data-text {
    font-family: "Roboto Medium", sans-serif;
    font-size: $dashlet-font-size;
    font-weight: $default-font-weight;
    letter-spacing: normal;
    line-height: $default-line-height;
}

.data-error {
    color: $tertiary-color;
    font-family: $font-family-roboto-medium;
    font-size: 150%;
    text-align: center;
}

/* Error in Dashlet */

.dashletMeldung {
    align-items: center;
    border-top: 1px solid $primary-border-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.dashlet-meldung {
    border-top: 1px solid $primary-border-color;
}

.meldung-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.meldung-container span {
    display: block;
}

.dashletMeldung i {
    font-size: $dashlet-error-icon-size;
    margin: $dashlet-error-icon-spacing;
    vertical-align: middle;
}

.dashletMeldung .data-header {
    font-family: $font-family-roboto-medium;
}

.dashletMeldung .data-text {
    font-family: $font-family-roboto-light;
}
