/**
  ********** Color-variables
*/

// Primary and Secondary Colors
$primary-color: #00b46d;
$secondary-color: #001e50;
$tertiary-color: #c72500;

// Darker and lighter variants of the primary and secondary colors
// use instead of darken(color, amount) or lighten(color, amount)
$primary-color-darker-1: #009258;
$primary-color-darker-2: #007547;
$primary-color-lighter-1: #55bd85;
$primary-color-lighter-2: #85cfa3;
$primary-color-lighter-3: #afdfc1;
$primary-color-lighter-4: #d4ebdd;
$primary-color-lighter-5: #edf7f0;
$secondary-color-darker-1: #06183b;
$secondary-color-darker-2: #060d25;
$secondary-color-lighter-1: #263560;
$secondary-color-lighter-2: #515976;
$secondary-color-lighter-3: #868aa0;
$secondary-color-lighter-4: #c2c5d5;
$secondary-color-lighter-5: #e2e3eb;
$secondary-color-lighter-6: #f0f1f5;

// Global

$font-family-roboto: "Roboto";
$font-family-roboto-thin: "Roboto Thin";
$font-family-roboto-light: "Roboto Light";
$font-family-roboto-light-italic: "Roboto Light Italic";
$font-family-roboto-medium: "Roboto Medium";
$font-family-roboto-bold: "Roboto Bold";
$font-family-roboto-italic: "Roboto Italic";
$font-family-roboto-black: "Roboto Black";
$primary-font-family: $font-family-roboto;
$default-font-weight: 400;

$default-text-color: #000000de;
$primary-text-color: $secondary-color;
$secondary-text-color: #ffffff;
$primary-border-color: $secondary-color-lighter-4;
$primary-background-color: #ffffff;
$primary-link-color: $secondary-color-lighter-3;
$home-button-text-color: $primary-color-darker-2;

$error-color: $tertiary-color;
$error-font-color: $error-color;
$error-underline-color: $error-color;
$error-background-color: $error-color;

$disabled-color: #b0b0b0;

$screen-background-color: #f6f6f6;
$dash-screen-background-color: $screen-background-color;
$error-screen-background-color: $screen-background-color;
$spinner-overlay-background-color: rgba(50, 50, 50, 0.5);
$spinner-circle-color: $primary-color;

$hover-border-color: $secondary-color;
$selected-background-color: $secondary-color;
$selected-text-color: $secondary-text-color;

// Dashlet Error
$error-icon-color: $error-color;
$dashlet-error-icon-size: 3rem;
$dashlet-error-icon-spacing: 0.25rem;

// Search-Field
$search-field-font-color: $primary-text-color;
$search-field-icon-color: rgba($primary-text-color, 0.8);
$search-field-focus-box-shadow: 0 0 2px 2px rgba(55, 55, 55, 0.8);

// Header
$header-box-shadow:
    0 0px 2px 1px rgba(0, 0, 0, 0.05),
    0 0 5px 5px rgba(0, 0, 0, 0.07),
    0 -3px 10px 10px rgba(0, 0, 0, 0.06);

// Chips
$chip-border-color: $primary-color;
$chip-selected-background-color: $primary-color;
$chip-selected-hover-background-color: $primary-color;
$chip-selected-font-color: $secondary-text-color;
$chip-selected-icon-color: rgba($primary-color-darker-1, 0.7);
$chip-selected-icon-hover-color: $primary-color;
$chip-selected-hover-box-shadow: 0 0 0 0 transparent;
$chip-not-selected-background-color: transparent;
$chip-not-selected-color: $primary-color;
$chip-not-selected-hover-color: rgba($primary-color, 0.5);
$chip-not-selected-font-color: $chip-not-selected-color;
$chip-not-selected-icon-color: $chip-not-selected-font-color;
$chip-not-selected-icon-hover-color: $chip-not-selected-font-color;
$chip-not-selected-hover-background-color: rgba($primary-color-darker-2, 0.7);
$chip-disabled-color: #c0c0c0;

// User-Menu
$header-user-menu-name-font-color: #ffffff;
$header-user-menu-icon-color: #ffffff;
$header-user-menu-spacing: 0.5rem;

// Info-Header
$info-header-details-left-prefix-icon-color: $primary-color;
$info-header-details-left-person-name-font-color: $primary-text-color;
$info-header-details-left-person-daten-font-color: $primary-text-color;
$info-header-details-right-icon-color: $error-icon-color;
$info-header-details-infos-empty-icon-color: #87cefa;
$info-header-auskunftssperre-background-color: $tertiary-color;
$info-header-auskunftssperre-text-color: $secondary-text-color;
$info-header-info-button-background-color: $secondary-color;
$info-header-info-button-text-color: $secondary-text-color;

// Umgebungs-Hinweis
$home-environment-background-color: $secondary-text-color;
$home-environment-text-color: $tertiary-color;

// Dashlet
$dashlet-background-color: #ffffff;

$dashlet-header-background-color: $primary-background-color;
$dashlet-header-title-font-color: $secondary-color;
$dashlet-header-title-icon-color: $primary-color;

$dashlet-footer-background-color: rgba(100, 100, 100, 0.1);
$dashlet-footer-button-background-color: $dashlet-header-background-color;
$dashlet-footer-button-icon-color: #ffffff;

// Dashlet Data Representation
$data-spacing: 1.25rem;
$data-background-color: $secondary-color-lighter-6;
$data-background-color-even: $secondary-color-lighter-5;
$data-background-color-odd: $secondary-color-lighter-6;

// Dialog
$dialog-background-color: #ffffff;

$dialog-header-background-color: $primary-color;
$dialog-header-title-font-color: #ffffff;
$dialog-header-title-icon-color: $dialog-header-title-font-color;

$dialog-content-title-font-color: #808080;
$dialog-content-font-color: $default-text-color;

$dialog-footer-background-color: rgba(100, 100, 100, 0.1);
$dialog-footer-button-background-color: $dashlet-header-background-color;
$dialog-footer-button-font-color: #ffffff;

// Checkbox
$checkbox-button-height: 2.25rem;
$checkbox-button-border-radius: 0.25rem;
$checkbox-button-spacing: 0.25rem;
$checkbox-button-background-color: $secondary-color-lighter-5;
$checkbox-button-hover-background-color: $secondary-color-lighter-4;
$checkbox-button-checked-hover-background-color: $secondary-color-lighter-1;
$checkbox-button-focus-background-color: $secondary-color-lighter-4;
$checkbox-button-checked-focus-background-color: $secondary-color-lighter-1;

// Error
$error-message-url-font-size: 23px;
$error-message-title-font-size: 32px;

// Other
$toast-success-background-color: rgba(81, 163, 81, 0.8);
$toast-warn-background-color: rgba(248, 148, 6, 0.8);
$toast-info-background-color: rgba(47, 150, 180, 0.8);
$toast-error-background-color: $error-background-color;

/**
  ********** Size-variables
*/

$default-font-size: 16px;
$default-line-height: 1.25;
$header-height: 4rem;
$info-header-height: 8rem;
$full-header-height: ($header-height + $info-header-height);
$hover-border-size: 2px;

// Header
$header-icon-size: 36px;
$header-logo-image-width: 10rem;
$header-user-menu-font-size: 1rem;

// Chip
$chip-font-size: 1rem;
$chip-remove-icon-size: 1.5rem;

// Error
$error-message-url-font-size: 23px;
$error-message-title-font-size: 32px;

// Search-Field
$search-field-height: 1rem;
$search-field-icon-size: 1.5rem;
$search-field-font-size: 1rem;

// Select
$select-font-size: 1rem;
$select-height: 1rem;
$select-option-height: 2.25rem;

// Info-Header
$info-header-padding: 1.5rem;

$info-header-details-left-prefix-icon-size: 4rem;
$info-header-details-left-prefix-icon-padding-right: 0.75rem;
$info-header-details-left-person-name-font-size: 2rem;
$info-header-details-left-person-daten-font-size: 1rem;
$info-header-details-icon-padding: 0.25rem;

$info-header-details-right-icon-size: 1.5rem;
$info-header-details-right-button-height: 2rem;
$info-header-details-right-button-font-size: 1rem;
$info-header-details-right-button-padding: 2rem;

$info-header-button-border-radius: 1rem;

// Button
$default-button-border-radius: 1.25rem;

$name-basis-width: 480px; // Beeinflusst, wann "AUSKUNFTSSPERRE" zur Seite springt

// Dashlet
$dashlet-font-size: 0.875rem;
$dashlet-box-shadow:
    0 0 0 0 transparent,
    0 2px 1px -1px rgba(0, 0, 0, 0.14),
    0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.08);
$dashlet-box-shadow-hover: $dashlet-box-shadow;
//$dashlet-box-shadow-hover: 0 0 0 $hover-border-size $hover-border-color, 0 2px 2px ($hover-border-size - 1px) rgba(0, 0, 0, 0.20), 0 4px 6px $hover-border-size rgba(0, 0, 0, 0.14), 0 2px 10px $hover-border-size rgba(0, 0, 0, 0.12);
//$dashlet-box-shadow-hover: 0 0 0 2px #c2c5d5, 0 0 0 4px #fff, 0 2px 2px 3px rgba(0, 0, 0, 0.2), 0 4px 6px 4px rgba(0, 0, 0, 0.14), 0 2px 10px 4px rgba(0, 0, 0, 0.12);

$dashlet-table-height: 200px;
$dashlet-min-width: 200px;
$dashlet-min-height: 16rem;
$dashlet-footer-height: 40px;
$dashlet-footer-spacing: 0.5rem;
$dashlet-footer-fab-button-size: 40px;
$dashlet-header-title-icon-size: 2rem;
$dashlet-header-height: 3rem;
$dashlet-header-padding: 0.5rem;
$dashlet-header-title-font-size: 1rem;
$dashlet-grid-spacing: 1.5rem;
$dashlet-content-padding: 1.25rem;

// Sidebar
$sidebar-tab-box-shadow:
    0 0 0 0 transparent,
    0 2px 1px -1px rgba(0, 0, 0, 0.14),
    0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.08);
$sidebar-tab-box-shadow-active:
    0 0 0 0 transparent,
    0 2px 2px -1px rgba(0, 0, 0, 0.14),
    0 4px 6px 0 rgba(0, 0, 0, 0.1),
    0 2px 10px 0 rgba(0, 0, 0, 0.08);
$sidebar-tab-card-font-size: 1rem;
$sidebar-tab-border-radius: 1rem;
$sidebar-tab-spacing: 0.5rem;

// Dialog
$dialog-footer-fab-button-size: 40px;
$dialog-header-title-icon-size: 1.5rem;
$dialog-content-spacing: 1rem;
$dialog-content-font-family: $primary-font-family;
$dialog-content-font-size: $default-font-size;
$dialog-content-line-height: $default-line-height;
$dialog-header-spacing: 0.5rem;
$dialog-footer-spacing: 0.5rem;

// Validation
$validation-message-font-size: 12px;
$validation-message-font-color: $error-font-color;

// User-Menu
$header-user-menu-icon-size: 36px;

// Other
$dialog-content-title-font-size: 30px;
$button-box-shadow:
    0 0 0 0 transparent,
    0 2px 1px -1px rgba(0, 0, 0, 0.14),
    0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.08);

/**
  ********** Other-variables
*/

$info-header-details-person-font-weight: 300;
$dashlet-header-title-font-weight: 300;
$dialog-header-title-font-weight: 300;
$dialog-content-title-font-weight: 300;

$border-radius-size: 0.2rem;
