@if (showPatch) {
<div class="screenwrapper">
    <div class=""></div>
</div>
} @if (!($kunde | async)?.fs &&
subaufgabengebietForm.userService.selectedSubAufgabengebiet == null) {
<div class="container">
    <div class="logo-image"></div>
</div>
} @if (this.userService?.userInfo?.showSubaufgabengebietButtons() &&
subaufgabengebietForm.userService.selectedSubAufgabengebiet != null) {
<div class="subaufgabengebiet-wrapper">
    <f360-form-content
        (cancelFormEvent)="cancelForm($event)"
        [forms]="subaufgabengebietForm?.forms"
    ></f360-form-content>
</div>
} @if (($kunde | async)?.fs.fachschluesselArt !== 'DGNR') { @if (($kunde |
async)?.fs.fachschluesselArt === 'VSNR' && !($versicherter | async)?.stammdaten)
{ @if ($kunde) { }
<div style="width: 100%">
    <f360-loading-indicator></f360-loading-indicator>
</div>
} @if (($versicherter | async)?.stammdaten) {
<div class="focus360-dashlet-wrapper">
    <div
        [ngClass]="{'collapsed-grid':anyFormOpen(), 'full-grid':!anyFormActive()}"
        class="dashlet-grid"
    >
        <!-- DASHLET::STAMMDATEN -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_ZPV_LESEN)) {
        <f360-dashlet-stammdaten
            [stammdaten]="($versicherter | async).stammdaten"
            [dashboardUrl]="($versicherter | async).urlMap.getValue().get('zpv')"
            class="dashlet-grid-col-quarter"
        ></f360-dashlet-stammdaten>
        }
        <!-- DASHLET::ZEITEN -->
        @if (($versicherter | async).fs.fachschluessel.startsWith('0')) { @if
        (userService?.userInfo?.containsRolle(rollen.ROLLE_LGKK_LESEN)) {
        <f360-dashlet-versicherungszeiten
            [betreutenZeiten]="($versicherter | async).leistungen?.betreute"
            [btnr]="true"
            [error]="sucheService.zvdResponseError()"
            class="dashlet-grid-col-quarter"
        ></f360-dashlet-versicherungszeiten>
        } } @else { @if
        (userService?.userInfo?.containsRolle(rollen.ROLLE_ZVD_LESEN) &&
        !sucheService.selectCurrentFs().startsWith('0')) {
        <f360-dashlet-versicherungszeiten
            [betreutenZeiten]="($versicherter | async).leistungen?.betreute"
            [btnr]="false"
            [error]="sucheService.zvdResponseError()"
            [versicherungszeiten]="($versicherter | async).versicherungszeiten"
            class="dashlet-grid-col-quarter"
        ></f360-dashlet-versicherungszeiten>
        } }
        <!-- DASHLET::ANGEHOERIGE -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_KVA_LESEN) &&
        !sucheService.selectCurrentFs().startsWith('0')) {
        <f360-dashlet-angehoerige
            [angError]="sucheService.angehoerigeResponseError()"
            [angehoerige]="($versicherter |async).mitversicherungen.angehoerige"
            [verError]="sucheService.versicherteResponseError()"
            [versicherte]="($versicherter |async).mitversicherungen.versicherte"
            class="dashlet-grid-col-quarter"
        ></f360-dashlet-angehoerige>
        }
        <!-- DASHLET::ECARD -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_SS5_LESEN) &&
        !sucheService.selectCurrentFs().startsWith('0')) {
        <f360-dashlet-ecard
            [ecard]="($versicherter | async).ecard"
            [error]="sucheService.ecardResponseError()"
            class="dashlet-grid-col-quarter"
        ></f360-dashlet-ecard>
        }
        <!-- DASHLET::LEISTUNG -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_LGKK_LESEN)) {
        <f360-dashlet-leistung
            [error]="sucheService.leistungResponseError()"
            [leistung]="($versicherter | async).leistungen"
            [lgkkUrl]="($versicherter | async).urlMap.getValue().get('lgkk')"
            class="dashlet-grid-col-half"
        ></f360-dashlet-leistung>
        }
        <!-- DASHLET::KUNDENKONTAKT -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_KONT_LESEN) ||
        userService?.userInfo?.containsRolle(rollen.ROLLE_KONT_VERW)) {
        <f360-dashlet-kundenkontakte
            class="dashlet-grid-col-half"
            [kundenkontakte]="($versicherter | async).kontakteKurz"
            [error]="sucheService.kundenkontaktResponseError"
            (openKontaktFormEvent)="openKundenkontaktForm($event)"
        ></f360-dashlet-kundenkontakte>
        }
        <!-- DASHLET::DOKUMENT -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_DOKUMENT_SUCHEN))
        {
        <f360-dashlet-dokumente
            class="dashlet-grid-col-half"
            [dokumente]="($versicherter | async).dokumenteKurz"
            [error]="sucheService.dokumentResponseError"
            (openDokumentFormEvent)="openDokumentForm($event)"
        ></f360-dashlet-dokumente>
        }
        <!-- DASHLET::BESCHWERDE -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_BESW_LESEN) ||
        userService?.userInfo?.containsRolle(rollen.ROLLE_BESW_VERW)) {
        <f360-dashlet-beschwerden
            (openBeschwerdeFormEvent)="openBeschwerdeForm($event)"
            [beschwerdeListe]="($versicherter | async).feedbackKurz"
            [error]="sucheService.feedbackResponseError"
            class="dashlet-grid-col-half"
        ></f360-dashlet-beschwerden>
        }
        <!-- DASHLET::DSGVO -->
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_DSGVO_VERW) ||
        userService?.userInfo?.containsRolle(rollen.ROLLE_DSGVO_LESEN)) {
        <f360-dashlet-dsgvo class="dashlet-grid-col-half"></f360-dashlet-dsgvo>
        }
    </div>
</div>
@if (anyFormActive()) {
<div class="sidebar-wrapper">
    @if (anyFormOpen()) {
    <f360-form-content
        (cancelFormEvent)="cancelForm($event)"
        [forms]="currentVersicherter?.forms"
    ></f360-form-content>
    }
    <f360-sidebar
        (toggleEditorOpenEmitter)="this.currentVersicherter.forms.toggleForm($event)"
        [formTabs]="currentVersicherter?.forms"
    ></f360-sidebar>
</div>
} } } @else { @if (currentDienstgeber) {
<div class="focus360-dashlet-wrapper">
    <div
        [ngClass]="{'collapsed-grid':anyFormOpen(), 'full-grid':!anyFormActive()}"
        class="dashlet-grid"
    >
        @if (userService?.userInfo?.containsRolle(rollen.ROLLE_ZPV_LESEN)) {
        <f360-dashlet-dg-stammdaten
            [stammdaten]="currentDienstgeber?.stammdaten"
            class="dashlet-grid-col-half"
        ></f360-dashlet-dg-stammdaten>
        }
        <f360-dashlet-kundenkontakte
            class="dashlet-grid-col-half"
            [kundenkontakte]="currentDienstgeber?.kontakteKurz"
            [error]="sucheService.kundenkontaktResponseError"
            (openKontaktFormEvent)="openKundenkontaktFormForDG($event)"
        ></f360-dashlet-kundenkontakte>
    </div>
</div>
@if (anyFormActive()) {
<div class="sidebar-wrapper">
    @if (anyFormOpen()) {
    <f360-form-content
        (cancelFormEvent)="cancelForm($event)"
        [forms]="currentDienstgeber?.forms"
    ></f360-form-content>
    }
    <f360-sidebar
        (toggleEditorOpenEmitter)="this.currentDienstgeber.forms.toggleForm($event)"
        [formTabs]="currentDienstgeber?.forms"
    ></f360-sidebar>
</div>
} } }
